 .header{
  padding: 1.5em;
  font-size: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:aliceblue;
}

.input{
  margin: 4em;
  width: 35em;
  padding: 1em;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  text-align:start
}

.search {
  padding: 5px;
  display: flex;
  position: absolute;
  height: 1.1em;
  width: 1.1em;
  top: 5.5em;
  right: 14em;
}

hr {
  height:2px;
  width: 23em;
  border:none;
  background-color:rgb(248, 244, 244);
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  padding-top: 0.5em;
  padding-right: 5em;
}