.header h1 {
  padding-top: 1em;
  font-size: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

hr {
  height: 2px;
  width: 23em;
  border: none;
  background-color: rgb(248, 244, 244);
  display: flex;
}

h2 {
  padding-top: 0.5em;
  padding-right: 5em;
}

.input {
  margin: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: aliceblue;
}

.input input {
  height: 3em;
  width: 35em;
}

.input img {
  width: 2.3em;
  display: flex;
  position: absolute;
  right: 30em;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  text-align: start;
}

.search {
  padding: 5px;
  display: flex;
  position: absolute;
  height: 1.1em;
  width: 1.1em;
  top: 5.5em;
  right: 14em;
}

.previsao{
  background-color: aliceblue;
  display: flex;
  padding-bottom: 2em;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border: 1em;
  width: 50em;
}
